:root {
  --grey: #ceccccff;
  --yellow: #FDC500;
  --blue: #003F88;
  --dark-grey: #3F3F3F;
  --black: #000000;
  --white: #FFFFFF;
}

a {
  font-family: inherit;
  font-size: inherit;
  color: inherit;
  text-decoration: none;
}

@viewport {
  width: device-width;
  zoom: 1.0 ;
}

html, body {
  width : 100%;
}

button {
  cursor: pointer;
}

/* Mobile device/portrait */
@media screen and (orientation: portrait) {
  body {
    padding: 0;
    margin: 0;
    background: var(--white);
  }
  
  .main_header {
    top: 0;
    left: 0;
    padding-top: 0;
    margin-top: 0;
    position: fixed;
    width: 100%;
    height: 10%;
    align-items: center;
    align-content: center;
    background-color: rgba(0, 0, 0, 0.7);
    text-align: center;
  }
  
  .main_header img {
    padding-top: 5%;
    width: 20%;
    height: auto;
    padding-right: 30%;
  }
  
  .main_header .home {
    width: 0;
    height: 0;
    visibility: hidden;
  }
  
  .main_header button:hover {
    color: #000;
    background-color: rgba(255, 255, 255, .9);
  }
  
  .main_header .login {
    margin: 0;
    padding: 0;
    background-color: transparent;
    font-family: "Andale Mono";
    font-size: 100%;
    font-weight: 100;
    color: var(--white);
    border: none;
    transition: all 0.3s;
    height: 90%;
    width: 20%;
  }
   /* Entire page */
  .main {
    padding-top: 10%;
    background-image: url(Images/main_background.jpg);
    background-size: auto 100%;
    background-position: center;
    background-repeat: no-repeat;
    background-color: transparent;
    width: 100%;
  }
  
  /* Main page box */
  .text h1 {
    flex-shrink: 1;
    line-height: 100%;
    padding: 0;
    margin: 0;
    font-family: "Andale Mono";
    color: var(--white);
    font-size: 200%;
    font-weight: bolder;
  }
  
  .text h2 {
    line-height: 150%;
    padding: 0;
    margin: 0;
    padding-bottom: 4%;
    font-family: "Andale Mono";
    color: var(--white);
    font-size: 150%;
  }
  
  .text_box {
    padding: 0;
    padding-top: 10%;
    padding-bottom: 10%;
    margin-top: 10%;
    margin-bottom: 10%;
    height: auto;
    display: flex;
    margin-left: 3.5%;
    margin-right: 3.5%;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    flex-wrap: wrap;
    background-color: rgba(0, 0, 0, 0.8);
  }
  
  /* Header */
  .sticky {
    position: fixed;
    top: 0;
    width: 100%
  }
  
  .content {
    padding: 5em;
  }
  
  .sticky + .content {
    padding-top: 70em;
  }
  
  /* Paragraph text box */
  .text {
      display: flex;
      flex-direction: column;
      text-align: center;
      justify-content: center;
      padding-left: 1%;
      padding-right: 1%;
      width: 100%;
  }
  
  .text button:hover {
    color: #000;
    background-color: rgba(255, 255, 255, .9);
  }
  
  .text button {
    background-color: transparent;
    font-family: "Andale Mono";
    font-size: 100%;
    font-weight: 100;
    color: var(--white);
    border: none;
    border: solid .1em rgba(255, 255, 255, .9);
    transition: all 0.3s;
  }
  
  .buttons_box {
    display: flex;
    padding-left: 20%;
    padding-right: 20%;
    width: 60%;
    justify-content: center;
    flex-direction: column;
  }
  
  .buttons_box button {
    flex-grow: 1;
    flex-shrink: 1;
  }
  
  .general_box {
    display: flex;
    width: 100%;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    flex-grow: 1;
    flex-shrink: 1;
  }
  
  .general_box .header {
    background-color: rgba(0, 0, 0, 0.6);
    text-align: left;
    align-items: center;
    line-height: 0;
    height: 100%;
    width: 100%;
    padding-top: 3%;
    padding-bottom: 3%;
    padding-left: 10%;
  }
  
  .general_box .header h1 {
    font-family: "Andale Mono";
    color: var(--white);
    font-size: 150%;
  }
  
  .general_box .text {
    width: 80%;
    background-color: var(--dark-grey);
    text-align: left;
    align-items: center;
    height: 100%;
    padding-top: 3%;
    padding-bottom: 3%;
    padding-right: 10%;
    padding-left: 10%;
    font-family: "Andale Mono";
    color: var(--white);
  }
  
  .general_box .text p {
    font-size: 75%;
    padding-left: 1em;
    border-left: solid .05em #FFFFFF;
  }
  
  .footer {
    display: flex;
    height: 10%;
    width: 100%;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: center;
    background-color: #000;
  }
  
  .footer .footer_content {
    flex-grow: 1;
    text-align: center;
    font-family: "Andale Mono";
    color: #FFFFFF;
    font-size: 30%;
    font-weight: 10;
  }
}

/* Desktop device/landscape */
@media screen and (orientation: landscape) {
  
  body {
    padding: 0;
    margin: 0;
    background: var(--white);
  }
  
  /* Header */
  .main_header {
    top: 0;
    left: 0;
    padding-top: 0;
    margin-top: 0;
    position: fixed;
    display: flex;
    width: 100%;
    height: 15%;
    align-items: center;
    justify-content: center;
    background-color: rgba(0, 0, 0, 0.7);
    text-align: center;
  }
  
  .main_header img {
    line-height: 15%;
    width: 12%;
    padding-right: 50%;
    height: auto;
  }
  
  .main_header button {
    background-color: transparent;
    font-family: "Andale Mono";
    font-size: 100%;
    color: var(--white);
    border: none;
    padding-left: 2%;
    padding-right: 2%;
    border-bottom: solid .1em rgba(255, 255, 255, .9);
    transition: all 0.3s;
  }
  
  .main_header button:hover {
    color: #000;
    background-color: rgba(255, 255, 255, .9);
  }
  
  
    /* Entire page */
  .main {
    padding-top: 10%;
    height: 5000%;
    background-image: url(Images/main_background.jpg);
    background-size: auto 100%;
    background-position: center;
    background-repeat: no-repeat;
    background-color: transparent;
    width: 100%;
  }
  
  /* Main page box */
  .text h1 {
    flex-shrink: 1;
    line-height: 10%;
    padding: 0;
    margin: 0;
    font-family: "Andale Mono";
    color: var(--white);
    font-size: 300%;
    font-weight: bolder;
  }
  
  .text h2 {
    line-height: 200%;
    padding-bottom: 1%;
    font-family: "Andale Mono";
    color: var(--white);
    font-size: 250%;
  }
  
  /* Paragraph text */
  .text_box {
    padding: 0;
    padding-top: 10%;
    padding-bottom: 10%;
    margin: 0;
    height: auto;
    display: flex;
    margin-left: 5%;
    margin-right: 5%;
    margin-bottom: 5%;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    background-color: rgba(0, 0, 0, 0.8);
  }
  
  /* Header when moved */
  .sticky {
    position: fixed;
    top: 0;
    width: 100%
  }
  
  .content {
    padding: 5em;
  }
  
  .sticky + .content {
    padding-top: 70em;
  }
  
  /* Paragraph txt */
  .text {
      display: flex;
      flex-direction: column;
      flex-wrap: wrap;
      text-align: center;
      justify-content: center;
      align-items: center;
      width: 100%;
  }
  
  .text button:hover {
    color: #000;
    background-color: rgba(255, 255, 255, .9);
  }
  
  .text button {
    background-color: transparent;
    font-family: "Andale Mono";
    font-size: 100%;
    color: var(--white);
    border: none;
    border-bottom: solid .1em rgba(255, 255, 255, .9);
    transition: all 0.3s;
  }
  
  /* Button formatting */
  .buttons_box {
    display: flex;
    padding-left: 25%;
    padding-right: 25%;
    width: 50%;
    height: 4%;
    text-align: center;
    align-items: center;
    justify-content: center;
    flex-direction: column;
  }
  
  .buttons_box button {
    width: 500%;
    flex-grow: 1;
    flex-shrink: 1;
  }
  
  /* Lower page box */
  .general_box {
    display: flex;
    width: 100%;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    flex-grow: 1;
    flex-shrink: 1;
  }
  
  .general_box .header {
    background-color: rgba(0, 0, 0, 0.6);
    text-align: left;
    align-items: center;
    line-height: 0;
    height: 100%;
    width: 100%;
    padding-top: 1%;
    padding-bottom: 1%;
    padding-left: 27%;
  }
  
  .general_box .header h1 {
    font-family: "Andale Mono";
    color: var(--white);
    font-size: 200%;
  }
  
  .general_box .text {
    width: 50%;
    background-color: var(--dark-grey);
    text-align: left;
    align-items: center;
    height: 100%;
    padding-top: 3%;
    padding-bottom: 3%;
    padding-right: 25%;
    padding-left: 25%;
    font-family: "Andale Mono";
    color: var(--white);
  }
  
  .general_box .text p {
    font-size: 100%;
    padding-left: 1em;
    border-left: solid .1em #FFFFFF;
  }
  
  /* Footer */
  .footer {
    display: flex;
    height: 10%;
    width: 100%;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: center;
    background-color: #000;
  }
  
  .footer .footer_content {
    flex-grow: 1;
    text-align: center;
    font-family: "Andale Mono";
    color: #FFFFFF;
    font-size: 65%;
    font-weight: 10;
  }
}
