html{
	scroll-behavior: smooth;
}





body * {
	font-family: 'Dancing Script', cursive;


}



body {
	background-color: #212121;
	margin: 0;
	padding: 0;
	color: rgb(252, 196, 45);
}



button {
	cursor: pointer;
}

.form {
	width: 75%;
	height: 500px;
	background: #202004;
	position: absolute;
	top: 100px;
	left: 50%;
	transform: translate(-50%, 0);
	border: 1px solid rgb(252, 196, 45);
	border-radius: 25px;
	transition: all 0.3s ease;
	z-index: -1;


}

h1 {
	text-align: center;
	border-bottom: 1px solid rgb(252, 196, 45);
	padding-bottom: 15px;
	color: rgb(252, 196, 45);
	font-size: 1.5rem;
}


.save-button {
	position: absolute;
	transform: translate(-50%,0);
	top: 105%;
	width: 20%;
	height: 12%;
	border-radius: 5px;
	background: #2e2d2d;
	font-size: 1.5vw;
	opacity: 0.8;
	color: white;
	border: 1px solid rgb(252, 196, 45);
	transition: all 0.5s ease;
	cursor: pointer;


}

.save-button:hover {
	background-color: rgb(252, 196, 45);
	color: black;
	border: 1px solid black;
}

#divider1 {
	border-top: none;
	border-right: none;
	border-left: none;
	height: 68%;
	border-bottom: 1px solid rgb(252, 196, 45);  

}

#divider2{
	position: absolute;
	top: 14%;
	left: 50%;
	height: 71%;
	border-left: 1px solid rgb(252, 196, 45);
	width: 100%;

}


#allergies-header {
	position: absolute;
	top: 0;
	left: -25%;
	transform: translateX(-50%); 


}

#cuisines-header {
	position: absolute;
	top: 0;
	left: 25%;
	transform: translateX(-50%); 

}





.allergies-checkbox {
	position: relative;
	left: -45%;
	top: 15%;
	margin-bottom: 20px;

}


.cuisines-checkbox{
	position: relative;
	top: -30%;
	left: 5%;
	margin-bottom: 20px;
}

img {
	position: absolute;
	width: 120px;
	margin: 12px;
	transition: all 0.3s ease;
}


img:hover {
	margin-top: 7px;
}



