html {
	scroll-behavior: smooth;
}





body * {
	font-family: 'Times';



}



body {
	background-color: #212121;
	margin: 0;
	padding: 0;
	color: rgb(255, 255, 255);


}



button {
	cursor: pointer;
}

.form {
	width: 93%;
	height: 88%;
	background: #202004;
	position: absolute;
	left: 50%;
	top: 50%;
	transform: translate(-50%, -50%);
	border: 1px solid rgb(252, 196, 45);
	transition: all 0.3s ease;
	overflow: hidden;
	border-radius: 25px;

}

h1 {
	text-align: center;
	color: rgb(252, 196, 45);
	font-size: 1.3rem;

}


.img {
	position: absolute;
	top: 11%;
	border-top: 1px solid rgb(252, 196, 45);
	border-bottom: 1px solid rgb(252, 196, 45);
	height: 43%;
	width: 40%;
	transition: all 0.3s ease;
	object-fit: cover;


}



.nutritional-facts-container {
	position: absolute;
	top: 54%;
	width: 40%;
	height: 48%;
	overflow: scroll;

}

.nutritional-facts-container>h2 {
	text-align: center;
	font-size: 1rem;
}

#logo {
	position: absolute;
	width: 120px;
	margin: 10px;
	border: none;
	transition: all 0.3s ease;
}

#logo:hover {
	margin-top: 5px;

}

.ingredients-container {
	position: absolute;
	left: 40%;
	top: 11%;
	border-right: 1px solid rgb(252, 196, 45);
	border-left: 1px solid rgb(252, 196, 45);
	border-top: 1px solid rgb(252, 196, 45);
	width: 30%;
	height: 91%;
	overflow: scroll;

}

.ingredients-container>h2 {
	text-align: center;
	font-size: 1rem;
}

.steps-container {
	position: absolute;
	left: 70%;
	top: 11%;
	border-right: 1px solid rgb(252, 196, 45);
	border-top: 1px solid rgb(252, 196, 45);

	width: 30%;
	height: 91%;
	overflow: scroll;

}

.steps-container>h2 {
	text-align: center;
	font-size: 1rem;
}



p {
	margin-left: 5%;
}

th,
td {
	border: 1px solid white;
	font-size: 1rem;
}

td {
	border-top: none;
}

table {
	position: relative;
	left: 50%;
	transform: translateX(-50%);

}