body {
background: #202004;
color: white;
}

body a {
	cursor: pointer;
}

::-webkit-scrollbar {
  width: 7px;
}

::-webkit-scrollbar-track {
  border-radius: 10px;
}

::-webkit-scrollbar-thumb {
  background: black; 
  border-radius: 10px;
  border: 0.1px solid rgb(252, 196, 45);
}

#black-img {
	opacity: 0.8;
	position: absolute;
	top: 0;
	left: 0;
	margin:0;
	height: 65px;
	width: 100%;
	border-bottom: 1px solid rgb(252, 196, 45);


	}

.navigation {
	display: inline-block;
	opacity: 1;
	color: rgba(255,255,255,0.8);
	text-decoration: none;
	position: relative;
	float: right;
	top: 8px;
	margin-right: 1.5em;
	font-size: 1.5rem;
	font-family: 'Dancing Script', cursive;
	transition: all 0.3s ease;
	}
.navigation:hover {
	opacity: 1;
	top: 3px;
	color: rgb(252, 196, 45);
	text-shadow: 0 0 4px black, 0 0 4px black, 0 0 4px black, 0 0 4px black, 0 0 4px black, 0 0 4px black;
}

#Home:active {
	background: red;
}
#symbol-dropdown {
	padding: 15px;
	color: white;
	position: absolute;
	padding-top: 24px;
	margin-left: 4em;
	cursor: default;
	text-shadow: 0 0 4px black, 0 0 4px black, 0 0 4px black, 0 0 4px black, 0 0 4px black, 0 0 4px black;
	transition: all 0.5s ease;
	font-size: 1vw;
	display: block;
	left: 66%;
	top: 3%;
}

.dropdown-items {
	display: none;
	padding: 15px;
	color: rgba(255,255,255,0.8);
	text-decoration: none;
	position: absolute;
	padding-top: 24px;
	margin-left: 4em;
	left: 62%;
	top: 0;
	font-size: 1.6vw;
	text-shadow: 0 0 4px black, 0 0 4px black, 0 0 4px black, 0 0 4px black, 0 0 4px black, 0 0 4px black;
	font-family: 'Dancing Script', cursive;
	
}
.dropdown-items:hover  {
	position: absolute;
	display: block;
	opacity: 1;
	transform: translateX(7px);
	color: rgb(252, 196, 45);
	text-shadow: 0 0 4px black, 0 0 4px black, 0 0 4px black, 0 0 4px black, 0 0 4px black, 0 0 4px black;
	transition-duration: 0.3s;
}

.tag:hover .dropdown-items{
	display: block;

}


.tag:hover #symbol-dropdown{
	position: absolute;
	top: 35%;
}

#dropdown:hover ~ .tag div{
	position: absolute;
	top: 35%;
}



#dropdown:hover ~ .tag a {
display: block;

}


#dropdown {
	padding-bottom: 30px;
}

#logo {
	opacity: 1;
	width: 120px;
	position: absolute;
	left: 15px;
	top: 5px;
}



#logo:hover {
	transform: translateY(-5px);
	transition-duration: 0.3s;
}
button {

	background: none;
	border: none;

}

.FAQ {
	width: 400px;
	height: 500px;
	background: #202004;
	position: absolute;
	top: -50%;
	left: 50%;
	transform: translate(-50%, -50%);
	border: 1px solid rgb(252, 196, 45);
	border-radius: 25px;
	transition: all 0.5s ease;
}





#x-button {
	text-decoration: none;
	position: absolute;
	left: -3%;
	top: -3%;
	z-index: 1;
	padding: 4%;
	background-color: #202004;
	border-radius: 50%;
	font-size: 0.5rem;
	border: 1px solid rgb(252, 196, 45);
	color: white;
	font-family: 'Yusei Magic', sans-serif;
	transition: all 0.5s ease;
}
#x-button:hover {
	background-color: rgb(252, 196, 45);
	color: black;
	border: 1px solid black;
}


.img {
	/*overflow: hidden;*/
	position: absolute;
	height: 100%;
	width: 100%;
	top: 0;
	left: 0;
	opacity:0;
	animation-name: opacify;
	animation-duration: 30s;
	animation-iteration-count: infinite;
	object-fit: cover;
	border-bottom: 0.1px solid rgb(252, 196, 45);
}

#img1 {
	animation-delay: 0s;
}

#img2 {
animation-delay: 11s;

}

.sidepanel {
	position: absolute;
	animation-name: opacify;
	animation-direction: reverse;
	animation-fill-mode: backwards;
	animation-duration: 2s;  
	animation-iteration-count: 1;
	animation-delay: 2.5s;
}


.sidepanel-bg {
	background: black;
	opacity: 0.8;
	width: 500px;
	height: 250px;
	position: absolute;
	top: 50%;
	left: 0;
	transform: translate(0,-50%);
	animation-name: slide-img, slide-img-2;
	animation-delay: 2s, 0s;
	animation-duration: 2s, 2s; 
	animation-iteration-count: 1;
	border: 1px solid rgb(252, 196, 45);
	border-left: none;

}
.nomore-text {
	color: rgba(255,255,255,0.9);
	position: absolute;
	border-bottom: 2px solid white;
	line-height: 40px;
	padding-right: 2vw;
	font-size: 2rem;
	top: 10%;
	left: 3%;
	font-family: 'Oswald', sans-serif;
	white-space: nowrap;
	margin: 0;
}

.form{
	position: absolute;
	top: 80%;
	/*background: red;*/
	width: 100%;
	height: 100%;
}
p > span {
	opacity: 1;
	color: rgb(252, 196, 45);
	text-decoration: none;
	font-family: 'Dancing Script', cursive;
	text-shadow: 0 0 4px black, 0 0 4px black, 0 0 4px black, 0 0 4px black, 0 0 4px black, 0 0 4px black;
	position: relative;
	padding-right: 5px;
	top: 0;
	font-size: 3rem;
	letter-spacing: -7px;
	transition: all 0.2s ease;

}

p >span:hover {
	position: relative;
	top: -13px;

}

#intro-text {
	position: absolute;
	font-family: 'Dancing Script', cursive;
	color: white;
	padding-right: 370px; 
	font-size: 1.3rem;
	top: 30%;
	left: 3%;
	white-space: nowrap;
}


.searchbar {
	border-radius: 25px;
	width: 75%;
	height: 25px;
	border: 1px solid rgb(252, 196, 45);;
	background-color: #202004;
}


.suggested-recipes-text{
	color: black;
	position: absolute;
	font-size: 2em;
	padding: 5px;
	top: 101%;
	left: 50%;
	cursor: default;
	font-family: 'Dancing Script', cursive;
	color: rgb(252, 196, 45);
	text-shadow: 0 0 4px black, 0 0 4px black, 0 0 4px black, 0 0 4px black, 0 0 4px black, 0 0 4px black;
	transition: all 0.18s ease;

}
.suggested-recipes-text:hover {
	transform: translateY(-12px);
}

#symbol {
	font-size: 1.3em;
	padding: 5px;
	top: 110%;
	left: 53.5%;

}


#drop1 {
	top:6%;
	padding-right: 0;
	position: absolute;
	opacity: 1;
	animation-name: opacify;
	animation-duration: 0.1s;
	animation-iteration-count: 1;
	animation-direction: reverse;
	animation-fill-mode: backwards;

}
#drop2 {
	top: 12%;
	padding-right: 35px;
position: absolute;
	opacity: 1;
	animation-name: opacify;
	animation-duration: 0.1s;
	animation-iteration-count: 1;
	animation-direction: reverse;
	animation-fill-mode: backwards;
	animation-delay: 0.1s;
}
#drop3 {
	top:17%;
	opacity: 1;
	padding-right: 26px;
	position: absolute;
	opacity: 1;
	animation-name: opacify;
	animation-duration: 0.1s;
	animation-iteration-count: 1;
	animation-direction: reverse;
	animation-fill-mode: backwards;
	animation-delay: 0.2s;
}
#drop4 {
	top:22%;
	position: absolute;
	opacity: 1;
	animation-name: opacify;
	animation-duration: 0.1s;
	animation-iteration-count: 1;
	animation-direction: reverse;
	animation-fill-mode: backwards;
	animation-delay: 0.3s;
}
#drop5 {
	top:27%;
	position: absolute;
	opacity: 1;
	animation-name: opacify;
	animation-duration: 0.1s;
	animation-iteration-count: 1;
	animation-direction: reverse;
	animation-fill-mode: backwards;
	animation-delay: 0.4s;
}


#title1 {
	left: 40%;

}
#title2 {
	left: 41.5%;
	
}
#title3 {
	left: 43%;
}

#title4 {
	left: 44.5%;
}
#title5 {
	left: 46%;
	
}


#title6 {
	left: 47.5%;
}
#title7 {
	left: 49%;
	
}
#title8 {
	left: 50.5%;
}


#title9 {
	left: 52%;
}
#title10 {
	left: 55%;
}
#title11 {
	left: 56.5%;
}
#title12 {
	left: 58%;
	
}
#title13 {
	left: 59.5%;
	
}
#title14 {
	left: 61%;
	
}
#title15 {
	left: 62.5%;
	
}
#title16 {
	left: 64%;
	
}




.opacify-animation {
	animation-name: opacify;
	animation-direction: reverse;
	animation-fill-mode: backwards;
	animation-duration: 2s;  
	animation-iteration-count: 1;
	animation-delay: 0s;
}







@keyframes slide-img {
	0% {
		width: 0px;
		opacity: 0.8;
	}


	100% {
		width: 500px;

	}
}

@keyframes slide-img-2 {
	0% {
		width: 0px;
		opacity: 0;
	}


	100% {
		width: 0px;
		opacity: 0;

	}
}


@keyframes opacify {
	25% {
		opacity: 1;
	}

	100% {
		opacity: 0;
	}
}




@keyframes bounce {
	0% {
	transform: translateY(0px);
}
	100% {
		transform: translateY(-10px);
	}
	
}


@media only screen and (max-width: 750px) {
  .sidepanel-bg {
  	width: 330px;
    height: 200px;
 
  }

  .nomore-text{
  	font-size: 1.5rem;

  }
  #intro-text{
  	font-size: 0.8rem;
  }
  p > span {
  	font-size: 2rem;
  }
  .navigation {
  	font-size: 0.6rem;
  }
  #black-img{
  	height: 50px;
  }
  #logo {
  	width: 90px;
  }
  .form {
  	top: 70%;
  }

}









/*body {
	display: flex;
	justify-content: center;
	align-items: center;
	background-color: black;
}*/

.rotating-images {
	position: absolute;
	width: 430px;
	height: 250px;
	left: 35%;
	top: 115%;
	transform: translate(-50%, -50%);
	transform-style: preserve-3d;
	animation: animate 120s infinite;


}
@keyframes animate {
	0% {
		transform: perspective(0px)  rotateY(0deg);

	}
	100% {
		transform: perspective(0px)  rotateY(360deg);
	}
}

.rotating-images span {
	position: absolute;
	top: 50%;
	left: 0;
	width: 100%;
	height: 100%;
	transform-origin: center;
	transform-style: preserve-3d;
	transform: rotateY(calc(var(--i) * 45deg)) translateZ(523px);

}

.rotating-images span img {
	position: absolute;
	width: 100%;
	height: 100%;
	object-fit: cover;
	border: 1px solid rgb(252, 196, 45);
	transition: all 0.4s ease;

}

#rotate-button {
	position: absolute;
	top: 200%;
	color: white;

}

.rotating-images-bg{
	background: #2e2e06;
	width: 99.7%;
	height: 380px;
	position: absolute;
	top: 123%;
	left: 0;
	border: 0.1px solid rgb(252, 196, 45);
}

.rotating-images img:hover {
	transform: translateY(-15px);
}




